/* customization for front end donation forms, some */
.gift-type-select div {
  width: 45%;
  margin-right: 3px;
  float: left;
}
div.crm-container .gift-type-select label {
  display: block;
  font-weight: bold;
  text-align: center;
  padding: 16px 16px; 
  font-size: 20px;
  font-variant: small-caps;
  cursor: pointer;
  border: 1px solid #92955E;
}

.gift-type-select div:hover label,
.gift-type-select div.selected label {
  background-color: #92955E;
  color: #FFF;
}

.gift-type-select:after {
  content: "";
  display: table;
  clear: both;
}

